In [78]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [79]:
np.random.seed(10)
age=np.random.randint(20,100,20)

In [80]:
np.random.seed(10)
salary=np.random.randint(15000,75000,20)

In [81]:
df=pd.DataFrame(columns=['age','salary'])

In [82]:
df

Empty DataFrame
Columns: [age, salary]
Index: []

In [83]:
df['age']=age

In [84]:
df['salary']=salary

In [85]:
df

    age  salary
0    29   32673
1    35   55061
2    84   44199
3    48   65496
4    49   43017
5    28   55059
6    93   24372
7    20   25201
8    60   52597
9    56   32904
10   36   57909
11   31   31241
12   74   58002
13   82   24224
14   53   24289
15   92   70552
16   98   46210
17   69   43712
18   71   25742
19   74   63548

In [86]:
df['insurance_brought']=df['age'].apply(lambda x:1 if(x>=20) and (x<=40) else 0)

In [87]:
df

    age  salary  insurance_brought
0    29   32673                  1
1    35   55061                  1
2    84   44199                  0
3    48   65496                  0
4    49   43017                  0
5    28   55059                  1
6    93   24372                  0
7    20   25201                  1
8    60   52597                  0
9    56   32904                  0
10   36   57909                  1
11   31   31241                  1
12   74   58002                  0
13   82   24224                  0
14   53   24289                  0
15   92   70552                  0
16   98   46210                  0
17   69   43712                  0
18   71   25742                  0
19   74   63548                  0

In [88]:
df[df['age']==31]

    age  salary  insurance_brought
11   31   31241                  1

In [89]:
df[df['age']==71]

    age  salary  insurance_brought
18   71   25742                  0

In [90]:
df.loc[11,['insurance_brought']]=0
df.loc[18,['insurance_brought']]=1

In [91]:
df

    age  salary  insurance_brought
0    29   32673                  1
1    35   55061                  1
2    84   44199                  0
3    48   65496                  0
4    49   43017                  0
5    28   55059                  1
6    93   24372                  0
7    20   25201                  1
8    60   52597                  0
9    56   32904                  0
10   36   57909                  1
11   31   31241                  0
12   74   58002                  0
13   82   24224                  0
14   53   24289                  0
15   92   70552                  0
16   98   46210                  0
17   69   43712                  0
18   71   25742                  1
19   74   63548                  0

In [92]:
x=df.drop(columns=['insurance_brought'])

In [93]:
y=df['insurance_brought']

In [94]:
x

    age  salary
0    29   32673
1    35   55061
2    84   44199
3    48   65496
4    49   43017
5    28   55059
6    93   24372
7    20   25201
8    60   52597
9    56   32904
10   36   57909
11   31   31241
12   74   58002
13   82   24224
14   53   24289
15   92   70552
16   98   46210
17   69   43712
18   71   25742
19   74   63548

In [95]:
y

0     1
1     1
2     0
3     0
4     0
5     1
6     0
7     1
8     0
9     0
10    1
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    1
19    0
Name: insurance_brought, dtype: int64

In [96]:
st=StandardScaler()

In [97]:
x_scaled=st.fit_transform(x)

In [98]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2,random_state=43)

In [99]:
kn=KNeighborsClassifier()

In [100]:
kn.fit(x_train,y_train)

KNeighborsClassifier()

In [101]:
y_pred=kn.predict(x_test)

In [102]:
y_pred_train=kn.predict(x_train)

In [103]:
accuracy_score(y_pred,y_test)

1.0

In [104]:
accuracy_score(y_pred_train,y_train)

0.8125

In [105]:
kn.predict([[71,25742]])

array([0], dtype=int64)

In [106]:
knn=KNeighborsClassifier(n_neighbors=15)

In [107]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=15)

In [108]:
y_pred=knn.predict(x_test)

In [109]:
y_pred_train=knn.predict(x_train)

In [110]:
accuracy_score(y_pred_train,y_train)

0.625

In [111]:
accuracy_score(y_pred,y_test)

1.0